body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.question {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #fff;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #e9ecef;
  cursor: pointer;
  transition: background-color 0.3s;
}


.pagination {
  margin: 20px 0;
}

.page-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #007BFF; /* Default color */
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.answered {
  background-color: #28a745; /* Green color for answered questions */
}

#submit-button {
  display: none; /* Initially hidden */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; /* Bootstrap primary color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


#timer {
  font-size: 18px;
  margin-top: 20px;
}

#completion-message {
  display: none; /* Initially hidden */
  font-size: 20px;
  margin-top: 20px;
  color: #28a745; /* Green color */
}